/**
 * Variables
 *
 */
/* line 4, ../sass/console.scss */
select.status-bar-item {
  color: #a3def2;
  text-shadow: none;
}
/* line 7, ../sass/console.scss */
select.status-bar-item:empty, select.status-bar-item:empty + .status-bar-select-arrow {
  display: none;
}

/* line 12, ../sass/console.scss */
.console-filters-header {
  flex-basis: 36px;
  padding: 5px;
  background-color: #073642;
  border-top: 1px solid #839496;
}
/* line 17, ../sass/console.scss */
.console-filters-header .filter-bitset-filter li.selected {
  background: #268bd2;
  border-radius: 0;
  color: #073642;
}

/* line 24, ../sass/console.scss */
.search-drawer-header input[type="text"].search-config-search {
  color: #f4f4f4;
}

/* line 28, ../sass/console.scss */
#console-messages {
  border-top: 1px solid #073642;
}
/* line 30, ../sass/console.scss */
#console-messages .console-message::before, #console-messages .console-user-command::before,
#console-messages #console-prompt::before, #console-messages .console-group-title::before,
#console-messages .console-error-level::before {
  top: 1.1em;
}
/* line 35, ../sass/console.scss */
#console-messages .console-group-messages .section > .header .title {
  color: #f4f4f4;
}
/* line 38, ../sass/console.scss */
#console-messages .section .properties .name, #console-messages .event-properties .name, #console-messages .console-formatted-object .name {
  color: #73aabd !important;
}
/* line 40, ../sass/console.scss */
#console-messages .section .properties .name.dimmed, #console-messages .event-properties .name.dimmed, #console-messages .console-formatted-object .name.dimmed {
  color: #a3def2;
}
/* line 44, ../sass/console.scss */
#console-messages .console-formatted-object {
  color: #cb4b16;
}
/* line 47, ../sass/console.scss */
#console-messages a {
  color: #859900;
}
/* line 49, ../sass/console.scss */
#console-messages a:hover {
  color: #2c3300;
}
/* line 53, ../sass/console.scss */
#console-messages .console-error-level .console-message-text,
#console-messages .console-error-level .section > .header .title {
  color: #dc322f !important;
}
/* line 57, ../sass/console.scss */
#console-messages .console-message, #console-messages .console-user-command, #console-messages #console-prompt {
  padding: 5px 0;
  color: #a3def2;
  border-bottom: 1px solid #657b83;
}
/* line 62, ../sass/console.scss */
#console-messages .console-debug-level .console-message-text {
  color: #268bd2;
}

/* line 67, ../sass/console.scss */
.search-status-bar-summary {
  border-top: 1px solid #839496;
  background: red;
}

/* line 72, ../sass/console.scss */
#drawer-contents .tabbed-pane-header .tabbed-pane-header-tab {
  height: 18px;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #073642;
}

/* line 80, ../sass/console.scss */
#search-results-pane-file-based .search-match .search-match-content {
  color: #f4f4f4;
}
/* line 83, ../sass/console.scss */
#search-results-pane-file-based .search-match .highlighted-match {
  background: #73aabd;
  padding: 0 3px;
  color: #073642;
}
/* line 88, ../sass/console.scss */
#search-results-pane-file-based .search-match:not(:hover) .search-match-line-number {
  background: #073642;
  color: #f4f4f4;
}
/* line 92, ../sass/console.scss */
#search-results-pane-file-based .search-match:hover .search-match-line-number {
  background: #268bd2;
  color: #f4f4f4;
}
/* line 97, ../sass/console.scss */
#search-results-pane-file-based .search-result {
  padding: 5px 0;
  background: #073642;
  border: 1px solid #839496;
  border-right: none;
  border-left: none;
  color: #f4f4f4;
}
/* line 104, ../sass/console.scss */
#search-results-pane-file-based .search-result:hover {
  color: #268bd2;
  background: #586e75;
}
/* line 108, ../sass/console.scss */
#search-results-pane-file-based .search-result .search-result-file-name, #search-results-pane-file-based .search-result .search-result-matches-count {
  color: #f4f4f4;
}

/* line 114, ../sass/console.scss */
.highlight {
  color: #b58900;
}

/* line 118, ../sass/console.scss */
.object-info-state-note {
  background-color: #268bd2;
  color: #073642;
}

/* line 123, ../sass/console.scss */
body.platform-windows option {
  background: #292929;
  color: #a3def2;
}
