/**
 * Variables
 *
 */


// dark bg tones
$base03:    #002b36;      // $black: #121316;
$base02:    #073642;      // $grey-darkest: #1d1f21;
// light bg tones
$base2:     #eee8d5;
$base3:     #fdf6e3;
//content tones
$base01:    #586e75;      // $grey-dark: #25292c;
$base00:    #657b83;      // $grey: #31353a;
$base0:     #839496;      // $grey-light: #4b4f53;
$base1:     #93a1a1;      // $grey-lightest: #77797d;
//accent colors
$yellow:    #b58900;      // $mustard: #e0dc6d;
$orange:    #cb4b16;      // $orange: #f29a46;
$red:       #dc322f;      // $red-light: #fb5c69;
$magenta:   #d33682;      // $vomit: #dcf080;
$violet:    #6c71c4;
$blue:      #268bd2;      // $blue: #2195f0;
$cyan:      #2aa198;      // $cyan: #65a4a4;
$green:     #859900;      // $green-light: #bdda6e;
//


$blue-dark: #1764a0;
$blue-light: #73aabd;
$blue-lightest: #a3def2;

$white: #f4f4f4;

