//~~~~ AUDITS ~~~~//
@import "variables";
.panel.audits {
  .audit-launcher-view .audit-launcher-view-content {
    background: $base03;
    color: $base1;
  }
  .sidebar-tree-section {
    padding: 5px;
    color: $base1;
    text-shadow: none;
    background: $base03;
  }
  .sidebar { background: $base03; }
  .audit-launcher-view div.button-container > button {
    background: $blue;
    border: none;
    border-radius: 3px;
    color: $white;
    body.inactive & {
      background: $base1;
      color: $base00;
    }
  }
}
